<md-toolbar class="flex-container" fxLayoutAlign="center" color="primary">
    <md-input-container>
        <input md-input placeholder="Search" [(ngModel)]="searchText" (keyup)="onKey()">
    </md-input-container>
    <button md-mini-fab (click)="onSearchClicked()">
        <md-icon>search</md-icon>
    </button>
</md-toolbar>
<!-- List with suggestions -->
<div *ngIf="resultService.showSuggestions">
  <md-list class="flex-container" fxLayout="column" fxLayoutAlign="center center">
    <md-list-item class="flex-item result-item auto-complete-item" *ngFor="let result of resultService.resultsAuto" (click)="onSuggestionClicked(result)">
      <h4 md-line class="entity-name">{{ result.title }}</h4>
      <p ><span class="tag-item" >{{ result.type }}</span></p>
    </md-list-item>
  </md-list>
</div>