/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
body { 
    width: 100%;
    margin: 0px;
}

label[for=md-input-0]:not([class~=md-empty]) {
    visibility: hidden;
}

.result-item {
    padding: 6px;
}

.result-item:hover {
    background: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #a4a4a4;
    cursor: pointer;
}

.auto-complete-item {
    width: 500px;
}

.tag-item {
    background: #3c3cab;
    color: #fff;
    margin: 3px;
    border: 1px;
    border-radius: 5px;
    padding: 3px;
    line-height: 1.5em;
    display: inline-block;
    font-weight: 600;
}

.entity-name {
    padding: 4px !important;
}

.result-title {

}

.result-matched-text {
    white-space: normal !important;
    font-style: italic !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.paragraph {
  font-family: Inconsolata, Monaco, Consolas;
}

.document-preview {
    margin-left: 100px;
    margin-right: 100px;
}

.anno {
  padding: 2px;
  cursor: pointer;
  display:inline-block;
}

.anno1 {
  color: green;
   border-bottom: 3px solid green;
}

.anno1:hover {
  background: #c3e0c3;
}

.tooltip-color1 {
  color: green;
  background-color: #c3e0c3;
}

.tooltip .tooltip-color1.tooltiptext::after {
  border-color: green transparent transparent transparent;
}

.anno2 {
  color: #a24c17;
  border-bottom: 3px solid #a24c17;
}

.anno2:hover {
  background-color: #e0bd79;
}

.tooltip-color2 {
  color: #a24c17;
  background-color: #e0bd79;
}

.tooltip .tooltip-color2.tooltiptext::after {
  border-color: #a24c17 transparent transparent transparent;
}

.anno3 {
  color: red;
  border-bottom: 3px solid red;
}

.anno3:hover {
  background-color: #facfcf;
}

.tooltip-color3 {
  color: red;
  background-color: #facfcf;
}

.tooltip .tooltip-color3.tooltiptext::after {
  border-color: red transparent transparent transparent;
}

.anno4 {
  color: blue;
  border-bottom: 3px solid blue;
}

.anno4:hover {
  background-color: #bbbbff;
}

.tooltip-color4 {
  color: blue;
  background-color: #bbbbff;
}

.tooltip .tooltip-color4.tooltiptext::after {
  border-color: blue transparent transparent transparent;
}

.anno5 {
  color: purple;
  border-bottom: 3px solid purple;
}

.anno5:hover {
  background-color: #ea97ea;
}

.tooltip-color5 {
  color: purple;
  background-color: #ea97ea;
}

.tooltip .tooltip-color5.tooltiptext::after {
  border-color: purple transparent transparent transparent;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    box-shadow: 0px 0px 5px black;
    visibility: hidden;
    width: 250px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

