/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
body { 
    width: 100%;
    margin: 0px;
}

label[for=md-input-0]:not([class~=md-empty]) {
    visibility: hidden;
}

.result-item {
    padding: 6px;
}

.result-item:hover {
    background: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #a4a4a4;
    cursor: pointer;
}

.auto-complete-item {
    width: 500px;
}

.tag-item {
    background: #3c3cab;
    color: #fff;
    margin: 3px;
    border: 1px;
    border-radius: 5px;
    padding: 3px;
    line-height: 1.5em;
    display: inline-block;
    font-weight: 600;
}

.entity-name {
    padding: 4px !important;
}

.result-title {

}

.result-matched-text {
    white-space: normal !important;
    font-style: italic !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.paragraph {
  font-family: Inconsolata, Monaco, Consolas;
}

.anno {
  padding: 2px;
  cursor: pointer;
  display:inline-block;
}

.anno1 {
  color: green;
   border-bottom: 3px solid green;
}

.anno1:hover {
  background: #c3e0c3;
}

.anno2 {
  color: orange;
  border-bottom: 3px solid orange;
}

.anno2:hover {
  background: #ffecc8;
}

.anno3 {
  color: red;
  border-bottom: 3px solid red;
}

.anno3:hover {
  background: #facfcf;
}

.anno4 {
  color: blue;
  border-bottom: 3px solid blue;
}

.anno4:hover {
  background: #bbbbff;
}

.anno5 {
  color: purple;
  border-bottom: 3px solid purple;
}

.anno5:hover {
  background: #ea97ea;
}